/* index.html */
.top-bar-section {
    position: relative;
    display: inline-block;
}

.top-bar-section img {
    display: block;
    width: 100%;
    height: auto;
}

.top-bar-section .page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: var(--color-primary);
    font-size: 9cqw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.other-sections-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-sections-section div {
  margin: 10px;
  padding: 20px;
  font-size: 3.3 cqw;
}